
/* .divMain{
    background-image:url('../../public/images/background_theme.jpg')
} */
.header{
    border: 2px;
    border-radius: 5px;
    border-style: dotted;

}

.ContentHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
    color: black;
}